<div class="app-layout">
  <!-- BARRA LATERAL (ASIDE) -->
  <aside class="blateral">
    <div class="side-bttns">
      <ul>
        <li class="active">
          <a routerLink="/home">
            <img src="./imagens/Vetores/PaginaInicialVetor.svg" class="sidebar-icon4" alt="Inicial" />
            <span>Inicial</span>
          </a>
        </li>
        <li class="nav-mobile">
          <a routerLink="/quests">
            <img src="./imagens/Vetores/DesafiosVetor.svg" class="sidebar-icon" alt="Desafios" />
            <span>Desafios</span>
          </a>
        </li>
        <li>
          <a routerLink="/chat">
            <img src="./imagens/Vetores/ChatVetor.svg" class="sidebar-icon" alt="Chat" />
            <span>Chat</span>
          </a>
        </li>
        <li class="nav-mobile">
          <a routerLink="/comunity">
            <img src="./imagens/Vetores/ComunidadeVetor.svg" class="sidebar-icon" alt="Comunidade" />
            <span>Comunidade</span>
          </a>
        </li>
        <li>
          <a routerLink="/user">
            <img src="./imagens/Vetores/UsuarioVetor.svg" class="sidebar-icon" alt="Meu Perfil" />
            <span>Perfil</span>
          </a>
        </li>
        <li>
          <a routerLink="/settings">
            <img src="./imagens/Vetores/ConfiguracoesVetor.svg" class="sidebar-icon" alt="Configurações" />
            <span>Configurações</span>
          </a>
        </li>
        <li class="expand-only">
          <a routerLink="/bookshelf">
            <img src="./imagens/Vetores/EstanteVetor.svg" class="sidebar-icon" alt="Estante" />
            <span>Estante</span>
          </a>
        </li>
        <li class="nav-mobile">
          <a routerLink="/premium">
            <img src="./imagens/Vetores/CoroaVetor.svg" class="sidebar-icon" alt="Premium" />
            <span>Premium</span>
          </a>
        </li>
        <li class="expand-only">           
          <a routerLink="/xpway">
            <img src="./imagens/Vetores/XpWayVetor.png" class="sidebar-icon" alt="XP Way" />
            <span>XP Way</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="create-comunity expand-only">
      <a href="#" id="btn-abrir-meu-modal" class="create-comunity">
        <img src="./imagens/Vetores/ComunidadeVetor.svg" class="sidebar-icon" alt="Ícone" />
        <div class="comunity-info">
          <span class="comunity-title">Criar Comunidade</span>
          <span class="comunity-subtitle">Crie suas conexões</span>
        </div>
      </a>
    </div>
    <div class="logout">
      <button class="bttn-logout" id="btn-logout">
        <img src="./imagens/Vetores/SignOutVetor.svg" alt="Sair" class="sidebar-icon4" />
      </button>
    </div>
  </aside>

  <main class="container">
    <!-- CABEÇALHO (HEADER) -->
    <header class="header">
      <div class="btns-logo">
        <div class="open-close">
          <button id="bttn-oc" class="bttn-oc">☰</button>
        </div>
        <div class="logo">
          <a routerLink="/home" id="logo">
            <img src="./imagens/Vetores/logovetorizada2.svg" alt="Logo" height="55px" id="imglogo" />
          </a>
        </div>
      </div>

      <div class="ul-nav">
        <ul>
          <li><a routerLink="/premium"><span>Premium</span></a></li>
          <li><a routerLink="/comunity">Comunidades</a></li>
          <li><a routerLink="/quests">Desafios</a></li>
          <li><a routerLink="/about"><span>Quem Somos</span></a></li>
        </ul>
      </div>

      <div id="sec-user">
        <div class="barra-pesquisa">
          <form id="barrapesquisa">
            <input type="text" placeholder="Search" id="s-header" />
            <button type="submit" id="b-header" name="Pesquisar"></button>
          </form>
        </div>
        <div id="seq">
          <a href="#" id="txt-user" data-open-modal="streak-modal">
            <p id="streak-user">0</p>
            <img src="./imagens/Vetores/FireVetor.svg" alt="Fogo" width="20" height="20" id="seq-fire" class="fire-icon" />
          </a>
        </div>
        <div id="g-icon-user">
          <a routerLink="/user">
            <img src="./imagens/padrao.jpg" class="user-avatar" alt="Meu Perfil" />
          </a>
        </div>
      </div>
    </header>

    <!-- PONTO ONDE AS PÁGINAS (HOME, CHAT, PERFIL) SERÃO INJETADAS -->
   
      <router-outlet></router-outlet>
   

    <!-- RODAPÉ (FOOTER) -->
    <footer>
      <div class="footerbusca">
        <div class="footer-links">
          <button type="button" id="backtop" class="negrito">Voltar ao Topo</button>
        </div>
        <div class="footer-links"><a routerLink="/home">Audiobooks</a></div>
        <div class="footer-links"><a routerLink="/home">HQ's</a></div>
        <div class="footer-links"><a routerLink="/home">Mangás</a></div>
      </div>
      <div class="footerbusca">
        <div class="footer-links"><a routerLink="/home" class="negrito">Institucional</a></div>
        <div class="footer-links"><a routerLink="/about">Quem somos</a></div>
        <div class="footer-links"><a routerLink="/home">Direitos autorais</a></div>
        <div class="footer-links"><a routerLink="/home">Programa de integridade</a></div>
        <div class="footer-links"><a routerLink="/home">Imprensa</a></div>
      </div>
      <div class="footerbusca">
        <div class="footer-links"><a routerLink="/home" class="negrito">Ajuda</a></div>
        <div class="footer-links"><a routerLink="/helpcenter">Central de ajuda</a></div>
        <div class="footer-links"><a routerLink="/home">Segurança e Privacidade</a></div>
        <div class="footer-links"><a routerLink="/home">Política de Privacidade</a></div>
        <div class="footer-links"><a routerLink="/home">Termos de uso do comprador</a></div>
        <div class="footer-links"><a routerLink="/home">Acessibilidade</a></div>
      </div>
      <div class="redes">
        <div class="imagem">
          <img src="./imagens/Vetores/logovetorizada2.svg" alt="Logo" height="55px" id="imglogo" />
        </div>
        <p class="txt-redes">E-mail: contato.bookway@gmail.com</p>
        <p class="txt-redes">Siga-nos nas redes sociais</p>
        <div class="redes-sociais">
          <a href="https://www.facebook.com/bookway" target="_blank"><img src="imagens/Vetores/FacebookLogo.svg" alt="Facebook" width="28px" class="trocarcor" /></a>
          <a href="https://www.instagram.com/bookway" target="_blank"><img src="imagens/Vetores/InstagramLogo.svg" alt="Instagram" width="28px" class="trocarcor" /></a>
          <a href="https://www.linkedin.com/company/bookway" target="_blank"><img src="imagens/Vetores/LinkedinLogo.svg" alt="LinkedIn" width="28px" class="trocarcor" /></a>
        </div>
        <div class="redes-sociais">
          <a href="https://www.threads.net/@bookway" target="_blank"><img src="imagens/Vetores/ThreadsLogo.svg" alt="Threads" width="28px" class="trocarcor" /></a>
          <a href="https://www.tiktok.com/@bookway" target="_blank"><img src="imagens/Vetores/TiktokLogo.svg" alt="TikTok" width="28px" class="trocarcor" /></a>
          <a href="https://www.x.com/bookway" target="_blank"><img src="imagens/Vetores/XLogo.svg" alt="X" width="28px" class="trocarcor" /></a>
        </div>
        <div class="redes-sociais">
          <a href="https://www.discord.com/invite/bookway" target="_blank"><img src="imagens/Vetores/DiscordLogo.svg" alt="Discord" width="28px" class="trocarcor" /></a>
          <a href="https://www.youtube.com/c/BookWay" target="_blank"><img src="imagens/Vetores/YoutubeLogo.svg" alt="YouTube" width="28px" class="trocarcor" /></a>
        </div>
      </div>
    </footer>
  </main>
</div>